<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Todos - Delete {{ list }}
        </title>
    </head>
    <body>
        <main>
            <div>
                <h1>Are you sure?</h1>
                <form method="post">
                    {% csrf_token %}
                    <button>
                        Delete
                    </button>
                </form>
            </div>
        </main>
    </body>
</html>
