<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Todos - {{ todo_list_detail }}
        </title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list_detail }}</h1>
                <p>
                    <a href="{% url 'todo_list_update' id=todo_list_detail.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'todo_list_delete' id=todo_list_detail.id %}">Delete</a>
                </p>
                <h2>
                    Tasks
                </h2>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Task
                            </th>
                            <th>
                                Due Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todo_list_detail.items.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_item_update' id=item.id %}">{{ item.task }}</a>
                                </td>
                                <td>
                                    {{ item.due_date }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
